{% include 'partials/header.twig' %}

<h1>Mes Projets</h1>

{% for project in projects %}
    <a href="{{ path_for('promotion', { year: promotion.year }) }}">P{{ promotion.year }}</a>
{% endfor %}

{% include 'partials/footer.twig' %}