{% include 'partials/header.twig' %}

<h1>Mes Projets</h1>

{% for project in projects %}
    <a href="{{ path_for('projects', { name: project.name }) }}">{{ project.name }}</a>
{% endfor %}

{% include 'partials/footer.twig' %}